@import 'main';


@keyframes left {
    from {
        left: 150%;
    }

    to {
        left: 0;
    }
}

@keyframes right {
    from {
        right: 100%;
    }

    to {
        right: 0;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 40px;
    z-index: 5;

    color: #fff;

    .header-container {
        font-family: "brandon_text_regularregular", Helvetica, Arial, ;
        @extend .flex;

        .logo {
            text-transform: capitalize;
            text-decoration: none;
            list-style: none;
            font-size: 2.1rem;
            line-height: 19px;
            padding: 5px 8px;
            // letter-spacing: 0.1rem;
            display: inline-block;
            font-weight: 700;

            span {
                color: #ff7903
            }
        }



        .device-menu {
            display: none;
            position: fixed;
            top: 10px;
            right: 10px;
            width: 55px;
            height: 50px;
            z-index: 11;
            background-color: rgba(0, 0, 0, 0.6);


            .device-menu__i {
                width: 24px;
                height: 18px;
                position: relative;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                span {
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    left: 0;
                    background-color: white;
                }

                .ft {
                    top: 0%;
                    -webkit-transition: rotate, 0.3s;
                    transition: rotate, 0.3s;
                }

                .sc {
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }

                .td {
                    bottom: 0%;
                    -webkit-transition: rotate, 0.3s;
                    transition: rotate, 0.3s;
                }



            }


        }


        .device-menu.open {

            .ft {
                top: 5px;
                left: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .sc {
                opacity: 0;

            }

            .td {
                bottom: 10px;
                right: 0;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }


        }

        .nav {
            @extend .flex;

            & >* {
                margin: .5rem;
                text-transform: uppercase;
                list-style: none;
                font-size: 18px;
                line-height: 17px;
                padding: 5px 8px;
                letter-spacing: 0.9px;
                display: inline-block;

                text-decoration: none;
                color: $primaryColor;
                transition: all 400ms;
                cursor: pointer;

                &:hover {
                    text-decoration: underline #ff7903;

                }

            }

            .active {
                text-decoration: underline #ff7903;
            }
        }
    }
}

@media screen and (max-width: 1020px) {

    .header {
        position: relative;
    }
}

@media screen and (max-width: 800px) {

    .header {

        padding: 5px 0;
        position: fixed;

        .header-container {
            // flex-direction: column-reverse;

            .logo-img {
                padding: 5px;
            }

            .device-menu {
                display: block !important;
                width: 45px;
                height: 40px;

                span {
                    height: 3px;
                }
            }

            .nav {
                display: none !important;

            }

            .active-nav {
                width: 100%;
                height: 50vh;
                display: flex !important;
                flex-direction: column !important;

                padding: 5px;
                background-color: rgba(0, 0, 0, 0.97);
                -webkit-transition: opacity 0.6s linear;
                transition: opacity 0.6s linear;

                li {
                    margin: 0;
                    font-size: 24px;
                    line-height: normal;
                    transform: matrix(1, 0, 0, 1, 0, 0);
                }

                li.one {
                    position: relative;
                    animation-name: left;
                    animation-duration: 1s;
                }

                li.two {
                    position: relative;
                    animation-name: right;
                    animation-duration: 1s;
                }


            }
        }

    }
}