.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 5%;
    padding: 5%;
    height: 70vh;
    font-family: 'brandon_text_regularregular', Helvetica, Arial, sans-serif;


    h2 {
        font-size: 5.6rem;
        font-weight: 600;
        letter-spacing: .2rem;
        text-align: center;
    }

    p {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: .1rem;
        text-align: center;
    }

}